body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #f7f7f7;
    overflow: hidden;
}

/* ===== 全体レイアウト（左6：右4） ===== */
#battle-screen {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 40px;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
}

/* ===== 左エリア ===== */
.left-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-left: 60px;
}

/* ====== 共通UI ====== */
.player-name {
    font-size: 22px;
    margin-bottom: 5px;
}

.player-area {
    min-width: 200px;
    max-width: 200px;
    border: 4px solid #000;
    text-align: center;
}

.score span {
    margin: 0 3px;
    font-size: 20px;
}

.hand-row {
    display: flex;
    gap: 20px;
}

/* ===== カード枠 ===== */
.card-slot {
    width: 120px;
    height: 160px;
    border: 4px solid #000;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px;
}

.mine .hand-row .card-slot {
    cursor: pointer;
}

/* ===== カード内部 ===== */
.card-name-area {
    flex: 1 1 50%;
    border-bottom: 2px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card-power-area {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base-power-area,
.total-power-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-power-area {
    border-right: 2px solid #000;
}

/* ====== 敵 / 自分エリア ===== */
.battle-top,
.battle-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

/* ====== 中央バトルエリア ===== */
.battle-center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-left: 260px;
}

/* ====== 右エリア ===== */
.right-area {
    height: 100%;
}

.turn-display {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.log-box {
    height: 90%;
    border: 4px solid red;
    background: white;
}

/* ===== 決定ボタン（プレイヤー得点の下） ===== */
.battle-bottom button#cardDecision {
    margin-top: 15px;
    align-self: center;

    font-size: 24px;
    padding: 10px 20px;
    border: 3px solid #000;
    background: #fff;
    opacity: 0.5;
}

#cardDecision.active {
    cursor: pointer;
    opacity: 1.0;
}

/* ===== 選択中カード ===== */
.card-slot.selected {
    border-color: #00aaff;
}
